<div class="panel-heading">
	<h3 class="panel-title">{{hero.hero_name}}</h3>
</div>
<div class="panel-body">
	<h4>Real Name:</h4>
	<div class="well">
		<p class="lead">
			<i ng-show="hero.gender=='Male'" class="fa fa-male" tooltip-placement="top" uib-tooltip="Male"></i>
			<i ng-show="hero.gender=='Female'" class="fa fa-female" tooltip-placement="top" uib-tooltip="Female"></i>
			{{hero.real_name}}
		</p>
	</div>
	<h4>Attributes:</h4>
	<div class="well">
		<table class="table">
			<tr ng-repeat="(key,value) in hero.attributes">
				<th>{{key}}</th>
				<td>{{value}}</td>
			</tr>
		</table>
	</div>
	<h4>Powers:</h4>
	<div class="well">
		<table class="table">
			<tr ng-repeat="power in hero.powers">
				<td>{{power}}</td>
			</tr>
		</table>
	</div>
	<h4>Weaknesses:</h4>
	<div class="well">
		<table class="table">
			<tr ng-repeat="weak in hero.weaknesses">
				<td>{{weak}}</td>
			</tr>
		</table>
	</div>
</div>
